*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
section{
	width: 100%;
	position: relative;
	max-height: 100vh;
}
section .controler{
	position: fixed;
	right: 25px;
	top: 50%;
	height: auto;
	width: 20px;
	transform: translateY(-50%);
	z-index: 99999;
}
section .controler li{
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 0 10px 0;
	list-style-type: none;
	transition: 0.5s;
}

section .controler li a{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}
section .controler li:hover,
section .controler li.active{
	background: #fff;
	cursor: pointer;
}
section .images{
	position: relative;
	width: 100%;
}
section .images li{
	position: relative;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	list-style-type: none;
	background-repeat: no-repeat;
	background-size: cover;
}
section .images li:nth-child(1){
	background-image: url(img6.jpg);
}
section .images li:nth-child(2){
	background-image: url(img7.jpg);
}
section .images li:nth-child(3){
	background-image: url(img8.jpg);
}
section .images li:nth-child(4){
	background-image: url(img9.jpg);
}
section .images li:nth-child(5){
	background-image: url(img10.jpg);
}
