*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif; /*Tipo de letra para sacar tipos de letras en google fonts*/
}

h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300; /*Hacer mas delgado o al contrario*/
}

.contenedor{
    width: 90%; /*Ancho que ocupa de la pantalla*/
    max-width: 1000px; /*Tamaño maximo que pude toma*/
    margin: auto;
    overflow: hidden;/*si sale de la pantalla lo corta*/
}

.contenedor1{
    width: 90%; /*Ancho que ocupa de la pantalla*/
    max-width: 1000px; /*Tamaño maximo que pude toma*/
    margin: auto;
    overflow: hidden;/*si sale de la pantalla lo corta*/
    padding: 60px;/*separacion de 60 por todos lados*/
}

h1{
    font-size: 50px;/*Tamaño de fuente*/
}

/*Header*/
header::before{
    content: "";
    display: block;/*Todo esto para que no se sobreponga a ningun contenido mietras bajamos*/
    margin-bottom: 80px;
}

nav{
    width: 100%;
    height: 80px;/*altura*/
    background: white;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2); /*Sombras*/
    /*transition: ease-in-out 0.5;*/
    position: fixed;/*mantiene simpre arriba el header mientras deslizamos*/
    top: 0;/*Para que no se sobreponga*/
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;/*Sepapar unos de otros*/
    height: 80px;
    width: 100%;
    align-items: center;/*alinea los contenedores*/
    padding: 0 40px;
}

.nav .logo{
    height: 80px;
}

.nav .logo .img{
    height: 100%;
    vertical-align: top;
}

.enlaces-header{
    font-weight: 300;
}

.nav .menudos{
    background: black;
}

.nav .enlaces-header a{
    color: #5D6678;
    text-decoration: none;
    margin-left: 20px;
}

.hamburguer{ /*Contenedor de la imagen*/
    width: 80px;
    height: 80px;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*display: none;*/
    text-align: center;
    z-index: 100;/*Se sobreponga a los que tienen menor valor*/
    cursor: pointer;/*Seponga la mano cuando pasas por ahi*/
    /*transition: color 0.5s ease-in;*/
}


.hamburguer > i{
    font-size: 25px;
    line-height: 80px; /*centrar altura*/
}

.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;/*Que se ajuste para que quede mejor y que llene el espacio disponible*/
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img{
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat{/*Animacion para que el contendio creesca*/
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);/*2 para doblar el tamaño*/
    }
}

.textos-header{
    margin: 0 0 0 30px;

}

.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.contenido-header a{/*Dar formato de boton*/
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;/*Para poderle dar propiedades porque si no no se le pueden dar margenes*/
    background: #1FDE82;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.titulo{
    font-size: 50px;
}

/*About us*/

.about-us{
    background: #f2f2f2;
}

.contenedor-articulo{
    display: flex;/*Para que ocupe todo el espacio*/
    flex-wrap: wrap;/*Si no cabe en la misma fila lo pone abajo*/
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    width: 29%;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover{/*Cada que pasen el raton*/
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #1FDE82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.articulo>h3{
    font-size: 24px;
    margin-top: 40px;
}

.articulo>p{
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #5D6678;
    font-weight: 400;/*Tamaño de letra*/
    text-decoration: none;
}

.articulo>a:hover{
    color: #1FDE82;
    transition: color .5s;
}

/*Questions */

.questions{
    height: 600px;
    display: flex;/*Que se ajuste para que quede mejor y que llene el espacio disponible*/
    justify-content: space-between;
    align-items: center;
}

.questions>img{
    width: 550px;
}

.textos-questions{
    margin: 0 0 0 30px;

}

.textos-questions p{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.textos-questions a{/*Dar formato de boton*/
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;/*Para poderle dar propiedades porque si no no se le pueden dar margenes*/
    background: #1FDE82;
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

/*Results*/

.results{
    background: #2570ff;
    padding-top: 30px;
}

.conten-results{
    display: flex;
    justify-content: space-evenly;/*ponerlos uno al lado de otro*/
}

.numbers{
    width: 60%;
    display: flex; /*Acomoda las 4 en la caja*/
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: white;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4{
    color: white;
    font-size: 50px;/*la cantidad de pixeles que puede ocupar las letras*/
    font-weight: 500;/*Tamaño de letra*/
    margin-bottom: 20px;
}

.numbers .number p{
    color: #f2f5fc;
    font-weight: 300;
}

.results-text{
    width: 37%;
}

.results-text h4{
    color: white;
    font-size: 40px;
}

.results-text p{
    color: white;
    font-weight: 300;
    margin: 20px 0;
}

.results-text a{
    color: white;
    text-decoration: none;/*para quitar la linea de abajo*/
    display: inline-block;/*para poder darle formato*/
    border: 1px solid white;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/*Services*/

.services{
    display: flex;
    justify-content: space-between;
}

.services img{
    width: 500px;
}

.box-skills{
    margin: 30px 30px 0 0;
}

.box-skills h4{
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i{
    color: #1FDE82;
    font-size: 20px;
}

/*footer*/

footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;/*Que se oculte lo que salga de esa divison*/
    display: flex;
    flex-wrap: wrap;/*se pone abajo si no cabe*/
    justify-content: space-evenly;/*Que se reparta el espacio y queden separados*/
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;/*inline-block no porque  no ocupa toda la linea y se pone uno al lado de otro */
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color: #1FDE82;
}

.partFooter img{/*Para que la imagen no ocupe toda la parte*/
    width: 70%;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: #fff;
    background-color: #1FDE82;
    border-color: #1FDE82;
}

/*Breakpoints responsive*/

@media screen and (max-width:800px){/*Cuando se utilice en dispositivos moviles*/
    .titulo{
        font-size: 45px;
    }

    .contenido-header{
        flex-direction: column;/*el columna*/
        justify-content: space-evenly;
        height: 720px;

    }

    .contenido-header{
        width: 400px;
    }

    .textos-header{
        margin: 0;
    }

    /*About us*/
    .articulo{
        width: 45%;
    }

    /*Questions*/
    .questions{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .questions>img{
        width: 400px;
    }

    /*Results*/
    .conten-results{
        flex-direction: column-reverse;

    }

    .results-text a{
        margin-bottom: 60px;
    }

    .numbers{
        width: 100%;
    }

    .results-text{
        width: 100%;
    }

    /*Service*/
    .services{
        flex-direction: column-reverse ;
        align-items: center;
    }

    .box-skills{
        margin: 0 0 40px 0;

    }
    

    .services img{
        width: 400px;
    }

    /*Footer*/

    footer{
        justify-content: space-evenly;
    }

    .partFooter{
        width: 40%;
        margin-bottom: 40px;
    }
}