html{
min-height: 100%;
overflow:hidden;
}
body{
height: calc[(100vh - 8em);
padding: 4em;
color: rgba(255, 255, 255, 0.75)
font-family: 'Anonymous Pro', monospace;
background-color: rgb(25, 25, 25);
}
.line-1{
position: relative;
top: 50%;
width: 24em;
margin: 0 auto;
border-right: 2px solid rgba(255, 255, 255, .75);
font-size: 180%;
text-align: center;
white-space: nowrap;
overflow: hidden;
transform: translateY(-50%);
}
/* Animation */
anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
blickTextCursor 500ms steps(44) infinite normal;
}
